<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <!--<add key="https://nuget.org/api/v2/" value="8140506b-17d3-449a-9b3a-65166c6158b6"/>-->
    <add key="https://nuget.org/api/v2/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAZZzmohaefUWtJO4eK/gDlAAAAAACAAAAAAAQZgAAAAEAACAAAABIZoW3Cuah+xPaQj7jsOJkhiS5PaUGpk1QSw5/UVUwPAAAAAAOgAAAAAIAACAAAAAKQcbkseXS6CTvg5uhPn2p6nxWbrzoX3PHqz9y8PGNrDAAAADqu3kFTgc0r985///sUftzVy+vfbpUsV0B6klT3MMO9c1y/GKKDbGwxfnZVrH6DnNAAAAAd09wVU199k1b5J5P2vNGYJ7sHTLvaGORrSq2av+72a+hvGVenAJNLLYfDLmtoYlUglqzG5cGLYcp2AEC/cBOwQ==" />    
</apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>